img {
   width: 30%;
}

li {
   display: inline-block;
}

li:focus {
   outline: 2px solid black;
}


button {
   background-color: #09aa5c;
   color: white;
   border: none;
}

input[type="checkbox"] {
   cursor: pointer;
}

label {
   cursor: pointer;
}

.login-save {
   appearance: none;
   position: relative;
   border: max(2px, 0.1em) solid gray;
   background-color: gray;
   border-radius: 1.25em;
   width: 2.25em;
   height: 1.25em;
}

.login-save::before {
   content: "";
   position: absolute;
   left: 0;
   width: 1em;
   height: 1em;
   border-radius: 50%;
   transform: scale(0.8);
   background-color: white;
   transition: left 250ms linear;
}


.login-save:checked::before {
   background-color: white;
   left: 1em;
}

.login-save:checked {
   background-color: #09aa5c;
   border-color: #09aa5c;
}